/* GENERICS */

body{
    font-family: sans-serif;
}

.row .row {
    padding: 1rem;
    
}
.row > [class^='col']{
    background-color: blue;
    border: 1px white solid;
    min-height: 50px;

}

.row > [class^='col'] [class^='col']{
    background-color: lightgreen;
}

.blue{
    background-color: blue;
}